---
- hosts: all
  become: yes
  gather_facts: yes

  roles:
    - {role: user-accounts, tags: ['users']}
    - docker
    - {role: git, tags: ['git']}
    - {role: ruby, tags: ['ruby']}
    - {role: java, tags: ['java']}
    - {role: clojure, tags: ['clojure']}
    - google-chrome
    - vagrant
    - zsh
    - ohmyzsh
    - keybindings
